SQLAlchemy
aiofiles
alembic
celery==4.2.1
email-validator
emails
fastapi>=0.7.1
gunicorn
jinja2
passlib[bcrypt]
psycopg2-binary
pydantic
pyjwt
python-multipart
raven
requests
sqlalchemy-searchable
tenacity
ujson
uvicorn
